* {
  margin: 0;
  font-family: "Noto Sans Bengali", sans-serif;
  box-sizing: border-box;
}
/* header style */
.toggle-btn {
  display: none;
}
.nav-with-background {
  position: fixed;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  z-index: 100;
}
.nav {
  padding: 1.2rem 2rem;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.logo {
  width: 100px;
}
#login-icon {
  margin-right: 0.8rem;
}
.header-left {
  display: flex;
}
.header-middle {
  display: flex;
  text-decoration: none;
  list-style: none;
}

.header-middle li {
  margin-right: 25px;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 16px;
  color: #686868;
}

.header-middle li:hover {
  background-color: #ff284f;
  color: #ffff;
}

.login-btn {
  padding: 0.6rem 0.8rem;
  border-radius: 5px;
  font-size: 15px;
  color: #ffff;
  background-color: #393939;
  border: 1px solid #393939;
  cursor: pointer;
  margin-left: 20px;
}
.login-btn:hover {
  color: #393939;
  background-color: #ffff;
  border: 1px solid #393939;
}
.header-right {
  display: flex;
  flex-direction: row;
}
.header-right select {
  border: none;
  font-size: 1rem;
  background-color: #fff;
}

.option {
  border: none;
  font-size: 0.8rem;
  width: 40px;
  margin-right: 2rem;
  padding: 3rem;
}
/* header responsive */
@media screen and (max-width: 1037px) {
  .login-btn {
    padding: 0.4rem 0.4rem;
    font-size: 0.8rem;
    margin-left: 10px;
  }
  .header-middle li {
    margin-right: 2px;
    padding: 0.5rem 0.4rem;
    font-size: 16px;
    color: #686868;
  }
}
@media screen and (max-width: 750px) {
  .nav {
    padding: 1rem 1rem;
  }
  .header-middle {
    display: none;
  }
  .toggle-btn {
    display: block;
  }
  .toggle-btn i {
    font-size: 1.4rem;
  }
  .logo {
    width: 130px;
  }
  .header-right select {
    display: none;
  }
  .login-btn {
    color: #393939;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    font-size: 1.1rem;
    font-weight: 600;
  }
  .login-btn:hover {
    color: #393939;
    border: 1px solid #ffffff;
  }
  .login-btn i {
    display: none;
  }
}
/* hero section */
.hero-section-with-cover {
  background-color: #1a161f;
}
.hero-section {
  padding: 8rem 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 5rem;
  align-items: center;
}
.hero-left-section {
  color: #ffff;
  position: relative;
}
.hero-left-section img {
  position: absolute;
  width: fit-content;
  height: auto;
  top: 3.5rem;
  left: 12rem;
}

.hero-left-section h1 {
  font-size: 3rem;
}
.hero-left-section p {
  margin-top: 2rem;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
.hero-img {
  width: 100%;
  max-width: 650px;
  height: auto;
}

.hero-label {
  width: 33vw;
  padding: 0.5rem;
  display: flex;
  background-color: #2b2533;
  border-radius: 5px;
}

.hero-label select {
  width: 20vw;
  border-radius: 5px;
  font-size: 1rem;
  padding: 0.5rem;
}

.hero-btn {
  width: 12.5vw;
  cursor: pointer;
  border-radius: 5px;
  background-color: #27895d;
  color: #fff;
  font-size: 1.3rem;
  border: none;
  margin-left: 10px;
}
/* hero section responsive */
@media screen and (max-width: 700px) {
  .hero-section {
    width: auto;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }
  .hero-left-section h1 {
    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;
  }
  .hero-left-section img {
    top: 2rem;
    left: 4rem;
    margin-left: 10rem;
    width: 25vw;
  }
  .hero-left-section p {
    margin-top: 1.5rem;
    font-size: 1rem;
  }
  .hero-right-section {
    display: none;
  }
  .hero-label {
    width: 80vw;
    justify-content: center;
  }
  .hero-label select {
    width: 50vw;
  }

  .hero-btn {
    width: 28vw;
  }
}
@media screen and (max-width: 1000px) {
  .hero-left-section h1 {
    font-size: 2rem;
  }
  .hero-left-section img {
    width: 20vw;
    top: 2.4rem;
    left: 6rem;
  }
}

@media screen and (max-width: 480px) {
  .hero-left-section img {
    left: 2rem;
  }
}

/* course section  */

.course-section {
  margin-top: 5rem;
  max-width: 100%;
}

.course-section-heading {
  text-align: center;
}

.course-section-heading h2 {
  font-size: 2rem;
}
.course-section-heading p {
  color: #676767;
  font-size: 1.3rem;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}
.course-area-background {
  max-width: 100%;
  padding: 0 3rem;
}
.course-area {
  width: 100%;
  background-color: #f7f8fa;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1.2rem;
  padding: 0.6rem;
  border-radius: 10px;
}

.course button {
  width: 100%;
  display: flex;
  background-color: #ffff;
  border: 1px solid #ffff;
  font-size: 1.3rem;
  padding: 2rem;
  border-radius: 10px;
  cursor: pointer;
}
.course button i {
  margin-right: 1rem;
}

.course button:hover {
  border: 1px solid #15803d;
  color: #15803d;
}
/* course section responsive  */
@media screen and (max-width: 1024px) {
  .course button {
    font-size: 1rem;
    padding: 1rem;
  }
  .course button i {
    margin-right: 0.6rem;
  }
}
@media screen and (max-width: 750px) {
  .course-section {
    margin-top: 3rem;
  }
  .course-section-heading {
    padding: 1rem;
  }
  .course-area-background {
    padding: 0 2rem;
  }
  .course-area {
    grid-template-columns: repeat(2, minmax(2rem, 20rem));
    grid-column-gap: 0.4rem;
    grid-row-gap: 0.5rem;
  }
  .course button {
    width: 100%;
    font-size: 1.1rem;
  }
  .course-section-heading h2 {
    font-size: 1.5rem;
  }
  .course-section-heading p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .course button {
    font-size: 1rem;
    padding: 0.8rem;
  }
  .course button i {
    margin-right: 0.6rem;
  }
  .course-section-heading h2 {
    font-size: 1rem;
  }
  .course-section-heading p {
    font-size: 0.9rem;
  }
}

/* feature section  */
.feature-section {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 3rem;
  grid-column-gap: 3rem;
  margin-top: 4rem;
  justify-content: center;
}

.feature {
  text-align: center;
}

.feature h5 {
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.feature p {
  color: #676767;
  font-size: 1rem;
}

@media screen and (max-width: 700px) {
  .feature-section {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 0.5rem;
    grid-column-gap: 0.5rem;
  }

  .feature h5 {
    font-size: 1rem;
    margin-top: 0.8rem;
  }
  .feature p {
    display: none;
  }
  .feature img {
    width: 10vw;
  }
}
/* education section */
.eduction-section-fluid {
  max-width: 100%;
  background-color: #f7f8fa;
  margin-top: 10rem;
}

.education-section-title {
  text-align: center;
  margin: 3rem auto;
}
.education-section {
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  grid-column-gap: 2rem;
}
.education {
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  transition: transform 0.4s;
}

.education:hover {
  transform: translateY(-20px);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.education a {
  text-decoration: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #43895d;
  font-size: 1.2rem;
  border-top: 1px solid #ececec;
  padding: 0.75rem 0;
  line-height: 1.75rem;
}

.education h5 {
  font-size: 1.3rem;
  padding-top: 1rem;
  padding-left: 0.5rem;
}

.card-top {
  position: relative;
}
.card-top span {
  position: absolute;
  top: 2rem;
  left: 1rem;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
}
.card-top img {
  width: 100%;
}
.img-1 {
  background-color: #055f60;
}
.img-2 {
  background-color: #6e1fed;
}
.img-3 {
  background-color: #cf2a46;
}
.items {
  padding: 1rem;
  display: flex;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.item {
  display: flex;
  align-items: center;
}

.item p {
  margin-left: 0.7rem;
  font-size: 1.1rem;
}

/* education-section-responsive */

@media screen and (max-width: 1024px) {
  .education a {
    font-size: 1rem;
    border-top: 1px solid #ececec;
    padding: 0.75rem 0;
    line-height: 1.75rem;
  }

  .education h5 {
    font-size: 1rem;
    padding-top: 1rem;
    padding-left: 0.5rem;
  }
  .item p {
    margin-left: 0.7rem;
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 700px) {
  .eduction-section-fluid {
    max-width: 100%;
    background-color: #f7f8fa;
    margin-top: 5rem;
  }
  .education-section {
    grid-template-columns: repeat(1, minmax(200px, 25rem));
    grid-row-gap: 4rem;
    justify-content: center;
    max-width: 100%;
  }
  .education a {
    font-size: 1.2rem;
    border-top: 1px solid #ececec;
    padding: 0.75rem 0;
    line-height: 1.75rem;
  }

  .education h5 {
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-left: 0.5rem;
  }
  .item p {
    margin-left: 0.7rem;
    font-size: 1.2rem;
  }
}

/* footer section  */
.footer-background {
  width: 100%;
}
.footer-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3.5rem 3rem;
}
.company-others-parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.app img {
  width: 200px;
  margin-bottom: 1rem;
}

.app h3 a {
  text-decoration: none;
  color: #43895d;
}

.app h3 a:hover {
  text-decoration: underline;
}

.company h3 {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}
.company a,
.other a {
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
}
.condition {
  text-align: center;
  font-size: 0.9rem;
  padding-bottom: 2rem;
}
.company,
.other {
  display: flex;
  flex-direction: column;
}

.social {
  align-items: center;
}
.social h3 {
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
}
.social ul li {
  text-decoration: none;
  list-style: none;
  font-size: 1.1rem;
}
.social ul li strong {
  color: #3f3f3f;
}

.social ul li a {
  text-decoration: none;
  color: #43895d;
}

.social ul li a:hover {
  text-decoration: underline;
}
.social ul {
  padding-inline-start: 0;
  margin-bottom: 1.5rem;
}

.social-icon {
  display: grid;
  grid-template-columns: repeat(5, minmax(2rem, 1fr));
  grid-column-gap: 1rem;
}

.social-icon a {
  border-radius: 5px;
}
@media (min-width: 750px) and (max-width: 1024px) {
  .app img {
    width: 120px;
  }
  .company a,
  .other a {
    text-decoration: none;
    color: black;
    font-size: 0.8rem;
  }
  .social h3 {
    font-size: 1rem;
  }
  .social ul li {
    text-decoration: none;
    list-style: none;
    font-size: 0.8rem;
  }
}
/* footer section responsive  */
@media screen and (max-width: 750px) {
  .footer-section {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .app {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 4rem;
  }
  .company-others-parent {
    grid-column-gap: 8rem;
    margin-bottom: 3rem;
  }
  .social {
    display: none;
  }
}
